In [1]:
from pandas_datareader import data as pdr
from yahoo_finance import Share as sshare
from yahoo_fin import stock_info as si 
from pandas import ExcelWriter
import yfinance as yf
import pandas as pd
import datetime
import time

In [2]:
yf.pdr_override()

In [3]:
stock_to_pull = 'AAPL'

In [4]:
start_date = datetime.datetime.now() - datetime.timedelta(days=365) # this is to setup start time based on a delta rather than fixed time
start_date

datetime.datetime(2020, 4, 14, 12, 20, 51, 605087)

In [5]:
end_date =datetime.date.today()
end_date

datetime.date(2021, 4, 14)

In [6]:
stock_df = pdr.get_data_yahoo(stock_to_pull, start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [7]:
stock_df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-04-14  70.000000  72.062500  69.512497  71.762497  71.210495  194994800
2020-04-15  70.599998  71.582497  70.157501  71.107498  70.560539  131154400
2020-04-16  71.845001  72.050003  70.587502  71.672501  71.121201  157125200
2020-04-17  71.172501  71.737503  69.214996  70.699997  70.156174  215250000
2020-04-20  69.487503  70.419998  69.212502  69.232498  68.699974  130015200

In [9]:
stock_df.to_csv(f'{stock_to_pull}.csv')

In [10]:
tickers_list = ['AAPL', 'AMZN', 'CMG', 'EBAY', 'GOOG', 'MSFT', 'TSLA']
for eachstock in tickers_list:
    df = pdr.get_data_yahoo(eachstock,start_date, end_date)
    df.to_csv(f'{eachstock}.csv')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [13]:
stock_df = pdr.get_data_yahoo(stock_to_pull, start_date, end_date, interval='5d')

[*********************100%***********************]  1 of 1 completed

In [14]:
stock_df.head()

                 Open       High        Low      Close  Adj Close       Volume
Date
2020-04-14  70.000000  72.062500  69.512497  71.762497  71.210495  194994800.0
2020-04-24  69.300003  70.752502  69.250000  70.742500  70.198349  126508800.0
2020-04-29  71.182503  72.417503  70.972504  71.932503  71.379196  137280800.0
2020-05-04  72.292503  73.422501  71.580002  73.290001  72.726265  133568000.0
2020-05-08        NaN        NaN        NaN        NaN        NaN          NaN